// highlighters
$lightBlue: #A6C9FF;
$darkBlue: #6CA7FF;
$lightOrange: #FFDBA6;
$darkOrange: #FFC46B;

// links
$hyperlink: #2F80ED;
$hyperlinkHover: #004097;

// gradients
$white: #FFFFFF;
$black: #000000;
$lightGrey: #E5E5E5;
$medGrey: #BEBEBE;
$darkGrey: #515151;

// misc
$overlay: rgba(0,0,0,0.50);
$boxShadow: 0 5px 11px rgba(36, 37, 38, 0.08); 
$borderRadius: 10px;

// global styles
body {
    font-family: 'Gothic A1', sans-serif;
}
h1 {
    font-size: 48px;
    color: $darkGrey;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.14em;
}
h2 {
    font-size: 30px;
    color: $darkGrey;
    text-transform: uppercase;
    font-weight: 400;
}
h3 {
    font-size: 36px;
    color: $black;
    font-weight: 400;
}
p {
    font-size: 18px;
    color: $black;
}
input {
    border: 1px solid $lightGrey;
    border-radius: $borderRadius;
    padding: 1rem;
    font-size: 18px;
    display: block;
    margin: 1rem 0;
    width: -webkit-fill-available;
}
a {
    color: $hyperlink;
    font-size: 18px;
    text-decoration: underline;
}
a:hover {
    color: $hyperlinkHover;
}
button, a.button {
    border-radius: 15px;
    color: $black;
    padding: 0.7rem 2rem;
    font-weight: bold;
    font-family: 'Gothic A1';
    border: none;
    font-size: 18px;
    text-decoration: none;
}
button:hover {
    cursor: pointer;
}
.primary-button {
    background-color: $lightBlue;
}
.primary-button:hover {
    background-color:$darkBlue;
}
.secondary-button {
    background-color: $lightOrange;
}
.secondary-button:hover {
    background-color:$darkOrange;
}
.cancel-button {
    background-color: $lightGrey;
}
.cancel-button:hover {
    background-color:$medGrey;
}
