body {
  font-family: "Gothic A1", sans-serif;
}

h1 {
  font-size: 48px;
  color: #515151;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}

h2 {
  font-size: 30px;
  color: #515151;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-size: 36px;
  color: #000000;
  font-weight: 400;
}

p {
  font-size: 18px;
  color: #000000;
}

a {
  color: #2F80ED;
  font-size: 24px;
  text-decoration: underline;
}

a:hover {
  color: #004097;
}

button {
  border-radius: 15px;
  color: #000000;
  padding: 0.7rem 2rem;
  font-weight: bold;
  font-family: "Gothic A1";
  border: none;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
}

button.primary-button {
  background-color: #A6C9FF;
}

button.primary-button:hover {
  background-color: #6CA7FF;
}

button.secondary-button {
  background-color: #FFDBA6;
}

button.secondary-button:hover {
  background-color: #FFC46B;
}

