body {
  font-family: "Gothic A1", sans-serif;
  margin: 0;
}

h1 {
  font-size: 48px;
  color: #515151;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}

h2 {
  font-size: 30px;
  color: #515151;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-size: 36px;
  color: #000000;
  font-weight: 400;
}

p {
  font-size: 18px;
  color: #000000;
}

input {
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  padding: 1rem;
  font-size: 18px;
  display: block;
  margin: 1rem 0;
  width: -webkit-fill-available;
}

a {
  color: #2F80ED;
  font-size: 18px;
  text-decoration: underline;
}

a:hover {
  color: #004097;
}

button, a.button {
  border-radius: 15px;
  color: #000000;
  padding: 0.7rem 2rem;
  font-weight: bold;
  font-family: "Gothic A1";
  border: none;
  font-size: 18px;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.primary-button {
  background-color: #A6C9FF;
}

.primary-button:hover {
  background-color: #6CA7FF;
}

.secondary-button {
  background-color: #FFDBA6;
}

.secondary-button:hover {
  background-color: #FFC46B;
}

.cancel-button {
  background-color: #E5E5E5;
}

.cancel-button:hover {
  background-color: #BEBEBE;
}
div#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
